@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hocam selam. Sormak istediğim konu <a href="@Url.Action("Index","Firm")">firmalar</a> sayfasında</p>
</div>
